#SPDX-License-Identifier: Apache-2.0
.#*
*~
*#
/bin
/build
/.build
*.cov
/docs/build/*
.DS_Store
.*-dummy
.gradle
.idea
*.iml
*.log
.project
/release
report.xml
results.xml
.settings
.*.sw*
tags
.tags
TESTS*.xml
.tox/
.vagrant/
.vscode
bin/
fabric-samples/

*.block
$GOPATH
vendor
go.sum
*.db
__debug_bin

